form {
    text-align: center;
    font-size: large;
}
tr, td, th {
    border: 1px solid;
    background-color: yellow;
    padding: 5px;
    
}
table{
    width: 600px;

}

th, td {
    width: 150px;
}

th {
    background-color: lightgray;

}
button, input {
    font-size: large;
    border: 1px solid;
    background: white;
}
.align-left{
    text-align: left;
}
