div {
    width: 100vw;
    text-align: center;
    font-size: large;
}
table, tr, td, th {
    border: 1px solid;
    margin: auto;
    background-color: yellow;
    padding: 5px;
}
th:first-child, td:first-child, .no-edit, .gray-background{
    background-color: lightgray;

}
button, input {
    font-size: large;
    border: 1px solid;
    background: white;
}
.align-left{
    text-align: left;
}
