div {
    font-size: large;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr, td, th {
    border: 1px solid;
    background-color: yellow;
    padding: 5px;
}
th:first-child, td:first-child, .no-edit, .gray-background{
    background-color: lightgray;

}
button, input {
    font-size: large;
    border: 1px solid;
    background: white;
}
.align-left{
    text-align: left;
}
