* {
  box-sizing: border-box;
}
#grid {
  display: grid;
  width: 100%;
  grid-template-areas:
  "header         header          header    header"
  "menu           content         content   content"
  "footer         footer          footer    footer";
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px 10px; 
}
#header{
  grid-area: header;
  background-color: white;
  padding: 5px; 
  background: url(https://s3.amazonaws.com/uploads.hipchat.com/21309/369069/P3rXUVfLuQGvv7N/bw.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  
#menu{
  grid-area: menu;
  background-color: gray;
  justify-content:center;
  align-content: center;
}
#content{
  grid-area: content;
  background-color: lightgray;
  justify-content:center;
  align-content: center;
  padding: 5px;
}
#footer{
  grid-area: footer;
  background-color: gray;
  color: white;
  padding: 5px;
}

#menu ul, #footer ul {
  list-style: none;
}
#menu li a {
  display: block; 
  color: white;
  text-align: left;
  padding: 10px 10px;
  text-decoration: none;
} 

#menu li a:hover {
  color: gray;
} 

/* formattting budget form */
.wrapper {
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
  width: 600px;
}
.form-row {
  display: flex;
  justify-content: flex-end;
  padding: .5em;
}
.form-row > label {
  padding: .5em 1em .5em 0;
  text-align: right;
  flex: 1;
}
.form-row > input {
  flex: 1;
}
.form-row > input,
.form-row > button {
  padding: .5em;
}
.form-row > button {
 background: gray;
 color: white;
 border: 0;
}
/* first layout I made

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh; 
  min-width: 100%;
}

#header {
  color: white;
  height: 20vh;
  text-align: center;
  font-size: 5vh;
}

h1{
  padding: 5vh;
}

#menu, #footer{
  background-color: #333;
  color: white;
  height: 10vh;
  min-height: 10vh;
  padding: 1vh;
  font-size: 2vh;
}

#content{
  height: 60vh;
  padding: 2vh;
  font-size: 2vh;
  overflow: scroll;
}

h2, p {
  padding-bottom: 1em;
}

#footer li{
  text-decoration: none;
  padding: 2px 16px;
}

horizontal menu */
  /* #menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#menu li {
  float: left;
}

#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} */

/* Change the link color to #111 (black) on hover */
/* #menu li a:hover {
  color: gray;
} */

/*fancy color changing background*/


#overlay {
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 5px;
}

#overlay { 
  -o-animation: colorcycle 20s infinite;
  -moz-animation: colorcycle20s infinite;
  -webkit-animation: colorcycle 20s infinite;
  animation: colorcycle 20s infinite; 
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}


@-o-keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

@-moz-keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

@-webkit-keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
}

@keyframes colorcycle {
  0%   {background: #a24de3;}
  25%  {background: #00aeff;}
  50%  {background: #f45a4a;}
  75%  {background: #4fd1cd;}
  100% {background: #a24de3;}
} 